#nav-bar{
 
}
#header-image {
 width: 100px;
}
.menu{
 display: flex;
 justify-content: left;
 align-items: center;
 flex-direction: row;
}
.optionscontainer a{
 float: left;
 padding: 10px;
 font-size: 1.1em;
 text-decoration: none;
 color: #000;
 display: block;
 transition: .3s background-color; /*What does this do?*/
}
.optionscontainer a:hover {
 background-color: grey;
 color:white;
}
.tmiddle {
 background-color: green;
}
.dmiddle {

 background-color: red;
}
.pmiddle {

 background-color: yellow;
}
.producttitle {
    text-align: center;
    font-size: 1.5em;
    color: blue;
}
h1 {
  font-size: 1.5em;
  padding-left: 5px;
}
#video{
    height: 90vh;
    width: 90vw;
    float: center;
}

