#nav-bar{
 
}
#header-image {
 width: 100px;
}
.menu{
 display: flex;
 justify-content: left;
 align-items: center;
 flex-direction: row;
}
.optionscontainer a{
 float: left;
 padding: 10px;
 font-size: 1.1em;
 text-decoration: none;
 color: #000;
 display: block;
 transition: .3s background-color; /*What does this do?*/
}
.optionscontainer a:hover {
 background-color: grey;
 color:white;
}

